* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* SIDE NAV AREA */

#user-nav, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}

#user-nav {
    width: 15%;
    height: 100vh;
    color: white;
    background-color: #012A4A;
}

#user-info {
    margin: 25px;
    width: auto;
    height: 70px;
}

#profile-pic {
    height: 80%;
    width: auto;
}

#user-info > figcaption {
    text-align: center;
}

.side-nav {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #2A6F97;
    font-size: small;
    margin-top: 40px;
}

button {
    color: white;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    margin: 6px;
    font-size: 15px;
}

input {
    margin-bottom: 25px;
}

label {
    font-size: small;
}

button:hover {
    cursor: pointer;
}

/* MAIN PAGE */

main {
    order: 2;
}

/* TOP NAV AREA */

#page-nav-container, #page-title  {
    width: -webkit-fill-available;
    display: flex;
}

#add-user {
    background-color: rgb(0, 179, 255);
}

#page-nav {
    width: inherit;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

#page-nav > button {
    margin: 0;
    padding: 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.7);
}

#search {
    border: none;
    min-height: max-content;
    width: inherit;
    margin-top: 17px;
    padding: 5px;
}

#page-nav > label {
    margin: 20px 0px 0px 20px;
}

/* MAIN PAGE BODY */

#page-title {
    justify-content: space-between;
}

#listing-title {
    margin: 3%;
}

#listing-title > p {
    margin: 5px;
}

#listing-title > h1 {
    font-size: xx-large;
    font-weight: normal;
    margin: 5px;
}

#listing-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 3%;
}

#listing-nav > button, #listing-nav > p {
    align-self: center;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 50%;
    padding: 10px;
    font-size: small;
    margin: 6px;
}

#listing-nav > button > img {
    height: 15px;
}

#listing-nav > p {
    border-radius: 25px;
    padding: 7px 17px;
}

#location {
    height: 15px;
    width: auto;
}

#applicant-chart {
    display: flex;
    justify-content: center;
}

#chart {
    width: 60%;
    /* align-self: center; */
}